/* CSS for website */

p.comments-section code {
    background: rgba(252, 228, 236, 0.4);
    color: #d70d5c;
    border-radius: 2px;
}
.markdown-section b, .markdown-section strong {
    font-weight: bolder;
    color: #000 !important;
}

.markdown-section ol li code,.markdown-section ul li code{
    background: rgba(252, 228, 236, 0.4);
    color: #d70d5c;
    border-radius: 2px;
}
#book-search-input input{
    text-align: center!important;
}