/* CSS for website */

p.comments-section code {
    background: rgba(252, 228, 236, 0.51);
    color: #cc1f63;
    border-radius: 2px;
}
.markdown-section b, .markdown-section strong {
    font-weight: 700;
    color: red !important;
}
